<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <title>лаба 11</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
    
</head>
<body>
    
        
                    <div id="form">
                
                        <form action="" id="form_reset"  method="POST">
                            <input id="email" placeholder="Enter email" type="email" name="email_name" required><br>
                            <input id="name" placeholder="Enter name" type="text" name="name_name" required><br>
                            <input id="age" placeholder="Enter age" type="number" min="1" max="200" name="age_name" required><br>
                            <input id="height" placeholder="Enter height" type="number" min="50" max="300" name="height_name" required><br>
                            <input id="weight" placeholder="Enter weight" type="number" min="1" max="200" name="weight_name" required><br>
                            <button id="btn_form" type="submit">Submit</button>
                        </form>
                        
                    </div>
                    
                    <div id="successAlert" class="aler" role="alert" style="display:none;"></div>
	                <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>

                </div>
            </div>
                
        </div>      
    </section>
        


</body>
</html>